[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_custom/plugins/autoupdate"]
	path = zsh_custom/plugins/autoupdate
	url = https://github.com/tamcore/autoupdate-oh-my-zsh-plugins
